@{
    ViewData["Title"] = "Home Page (Aurelia)";
    Layout = "_AureliaLayout";
}


<div class="row">
    <div class="col-md-4">
        <h2  class="panel-heading">This section:</h2>
        <ul class="text-info">
            <li>Represents a standard Razor rendered part of this HTML page</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2 class="panel-heading">The section below:</h2>
        <ul class="text-info">
            <li>Is where Aurelia has been defined and where Aurelia will place any rendered content</li>
        </ul>
    </div>
</div>

