@{
    ViewData["Title"] = "Home Page (Aurelia)";
}


<div class="row">
    <div class="col-md-4">
        <h2>This application:</h2>
        <ul>
            <li>Represents a simple template that integrates the use of the <a href="http://aurelia.io/">Aurelia framework</a></li>
            <li>Is based on the default ASP.Net core new web application with references to jQuery and Bootstrap left intact.</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Pre-requisites</h2>
        <ul>
            <li>You need to install the <a href="http://aurelia.io/hub.html#/doc/article/aurelia/framework/latest/the-aurelia-cli">Aurelia CLI</a>. While Aurelia supports Webpack and JSPM, the Aurelia CLI is a very simple and easy way to get started with Aurelia.</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Run & Deploy</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517851">Run your app</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517853">Run tools such as EF migrations and more</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398609">Publish to Microsoft Azure Web Apps</a></li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <h4 class="center-block">
            <a href="">Navigate to the Aurelia based page</a>
        </h4>
    </div>
</div>
